body {
    background: url(./1.3.png) fixed center;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    background-color: blueviolet;
}

p {
    width: 200px;
    font-size: 45px;
    text-align: center;
    background-color: beige;
    border: 2px solid black;
    margin-top: 530px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: auto;
}

p:hover {
    box-shadow: 0 0 10px cyan, 0 0 35px cyan, 0 0 65px cyan, 0 0 125px cyan, 0 0 220px cyan;
    color: #000000;
    border-color: cyan;
    background-color: cyan;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}